{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card p-4 mt-5">
            <div class="card-body">
                <h3 class="mb-4 text-center text-primary"><i class="fa fa-user-plus"></i>Реєстрація</h3>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Логін</label>
                        <input name="login" class="form-control" placeholder="Введіть логін" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        <input name="password" type="password" class="form-control" placeholder="Введіть пароль" required>
                    </div>
                    <button type="submit" class="btn btn-main w-100"><i class="fa fa-user-plus"></i> Зареєструватися</button>
                </form>
                <p class="mt-3 text-center">Вже є акаунт? <a href="{{ url_for('login') }}">Увійти</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
